/* _content/web/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Загальні стилі */
body[b-geqq2yljpt] {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Заголовки */
h1[b-geqq2yljpt], h2[b-geqq2yljpt] {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

/* Навігаційні кнопки */
.navbar[b-geqq2yljpt] {
    background-color: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
}

.navbar-brand[b-geqq2yljpt] {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
}

.navbar-toggler[b-geqq2yljpt] {
    border: none;
}

.navbar-toggler-icon[b-geqq2yljpt] {
    background-image: url('/images/menu-icon.png'); /* Оновіть шлях, якщо потрібно */
}

.nav-link[b-geqq2yljpt] {
    color: #333;
}

    .nav-link:hover[b-geqq2yljpt] {
        color: #1b6ec2;
    }
.nav-item[b-geqq2yljpt] {
    margin-right: 20px; /* Adjust the value as needed */
}
/* Основний контент */
.container[b-geqq2yljpt] {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Список елементів */
ul[b-geqq2yljpt] {
    list-style-type: none;
    padding: 0;
}

li[b-geqq2yljpt] {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.5;
}

/* Форми */
form[b-geqq2yljpt] {
    margin-top: 20px;
}

input[type="text"][b-geqq2yljpt] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

button[b-geqq2yljpt] {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #333;
    cursor: pointer;
}

    button:hover[b-geqq2yljpt] {
        background-color: #555;
    }

/* Футер */
footer[b-geqq2yljpt] {
    background-color: #f4f4f4;
    border-top: 1px solid #e5e5e5;
    padding: 15px 0;
    text-align: center;
    color: #333;
    line-height: 60px;
}
