@* Views/Home/Index.cshtml *@
@{
    ViewData["Title"] = "Головна";
}

<h1>Ласкаво просимо!</h1>

<div class="list-group">
    <a asp-action="AddWord" class="list-group-item list-group-item-action">Додати нове слово</a>
    <a asp-action="Stats" class="list-group-item list-group-item-action">Переглянути статистику</a>
    <a asp-action="GetWordsByCategory" asp-route-category="Animals" class="list-group-item list-group-item-action">Тварини</a>
    <a asp-action="GetWordsByCategory" asp-route-category="Colors" class="list-group-item list-group-item-action">Кольори</a>
    <a asp-action="GetWordsByCategory" asp-route-category="Fruits" class="list-group-item list-group-item-action">Фрукти</a>
    <a asp-action="GetWordsByCategory" asp-route-category="Weather" class="list-group-item list-group-item-action">Погода</a>
    <form asp-action="ResetDatabase" method="post">
        <button type="submit" class="list-group-item list-group-item-action">Скинути базу</button>
    </form>
</div>