@model string

<!DOCTYPE html>
<html>
<head>
    <title>File Content</title>
</head>
<body>
    <h1>File Contents</h1>
    <pre>@Model</pre>  <!-- This will display the file content passed from the controller -->
</body>
</html>
