@{
    ViewData["Title"] = "Stats";
}

<h2>Word Learning Stats</h2>
<p>Total Words: @ViewBag.TotalWords</p> 
<div style="width: 300px; height: 300px;">
    <canvas id="myPieChart"></canvas>
</div>

<form asp-action="ResetDatabase" method="post">
    <button type="submit" class="btn btn-danger mt-3">Reset Database</button>
</form>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    var ctx = document.getElementById('myPieChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ['Learned Words', 'Remaining Words'],
            datasets: [{
                data: [@ViewBag.LearnedPercentage, @ViewBag.RemainingPercentage],
                backgroundColor: ['#33FF57', '#FF5733'], 
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false, 
            plugins: {
                legend: {
                    position: 'top',
                },
                tooltip: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.label + ': ' + tooltipItem.raw + '%';
                        }
                    }
                }
            }
        }
    });
</script>
