/* Загальні стилі */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;

    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

/* Анімація завантаження */
.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    z-index: 9999; /* Залишається зверху всього іншого контенту */
}

.loader {
    font-size: 2rem;
    color: #584b44;
    font-weight: bold;
}

/* Контейнер гри */
.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    width: 100vw;
    text-align: center;

    background: linear-gradient(45deg, #ff6f61, #d0e1f9);
    background-size: 400% 400%;
    animation: gradient-animation 15s ease infinite;
}

/* Анімація градієнту */
@keyframes gradient-animation {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

/* Сторонні елементи з назвою гри */
.side-text {
    display: none;
    font-size: 2rem;
    color: #584b44;
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: 0 20px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.start-screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.start-screen h1 {
    font-size: 16pt;
}

.word-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#word-input {
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;

    font-family: "Archivo", sans-serif;
    font-weight: 600;
    font-size: 36pt;
    font-style: normal;
    text-transform: uppercase;
}

.start-btn-container {
    display: flex;
    justify-content: center;
}

#start-btn, #restart-btn, #resume-btn {
    background-color: #98139c;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 14pt;
    font-style: normal;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('gamebg.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#health, #score {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

#character {
    width: 96px;
    height: 96px;
    position: absolute;
    bottom: 0;
    background: url('fly.png');
    background-repeat: no-repeat;
}

#character.standing {
    animation: standing-animation 1s steps(6) infinite; /* Анімація стояння */
}

#character.attacking {
    background-image: url('attack.png');
    background-repeat: no-repeat;
    animation: attack-animation 0.5s steps(6) forwards; /* Атака */
}

#character.dying {
    background-image: url('death.png');
    background-repeat: no-repeat;
    animation: dying-animation 1s steps(6) forwards; /* Смерть */
}

@keyframes standing-animation {
    to { background-position: -576px; }
}

@keyframes attack-animation {
    to { background-position: -576px; }
}

@keyframes dying-animation {
    to { background-position: -576px; }
}

/* Адаптація для великого екрану (ширше за 9:16) */
@media (min-aspect-ratio: 9/16) {
    .side-text {
        display: block;
    }
    .game-area {
        height: 100vh;
        width: calc(100vh * 9 / 16);
        background-color: #ffffff;
        border: 1px solid #ccc;
        position: relative;
    }
}

/* Адаптація для малого екрану (вужче за 9:16) */
@media (max-aspect-ratio: 9/16) {
    .game-area {
        width: 100vw;
        height: calc(100vw * 16 / 9);
        background-color: #ffffff;
        border: 1px solid #ccc;
        position: relative;
    }
}

/* Стилі для гри */
.end-screen, .pause-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#end-message {
    padding: 4rem;
}

.object {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    background-color: green;
}

#health, #score {
    position: absolute;
    top: 10px;
    font-size: 18px;
}

#health {
    left: 10px;
}

#score {
    right: 10px;
}
